@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url(/static/poppins/Poppins-Thin.ttf);
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url(/static/poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url(/static/poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(/static/poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url(/static/poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(/static/poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(/static/poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url(/static/poppins/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url(/static/poppins/Poppins-Black.ttf);
}

:root {
    --app-primary-color: rgba(5, 59, 80, 1);
    --app-primary-color-ligth: rgba(235, 235, 235, 1);
    --app-primary-color-dark: rgba(253, 253, 253, 1);
    --app-hover-primary-color: rgba(255, 255, 255, .1);
    --app-border-primary-color: rgba(230, 230, 230, .1);

    --app-secondary-color: rgba(23, 107, 135, 1);
    --app-secondary-color-ligth: rgba(240, 240, 240, 1);
    --app-secondary-color-dark: rgba(253, 253, 253, 1);
    --app-hover-secondary-color: rgba(255, 255, 255, .1);
    --app-border-secondary-color: rgba(230, 230, 230, .1);

    --app-content-color: rgba(255, 255, 255, 1);
    --app-content-color-ligth: rgba(60, 60, 60, 1);
    --app-content-color-dark: rgba(30, 30, 30, 1);
    --app-hover-content-color: rgba(0, 0, 0, .03);
    --app-highlight-content-color: rgba(223, 243, 245, .6);
    --app-border-content-color: rgba(100, 100, 100, 1);

    --app-screen-color: rgba(255, 255, 255, 1);
    --app-screen-color-ligth: rgba(60, 60, 60, 1);
    --app-screen-color-dark: rgba(30, 30, 30, 1);
    --app-hover-screen-color: rgba(0, 0, 0, .03);
    --app-border-screen-color: rgba(220, 220, 220, 1);

    --app-error: rgba(239, 83, 80);
    --app-success: rgb(76, 175, 80);
    --app-warning: rgb(252, 197, 68);

    --app-overlay-color: rgba(0, 0, 0, .3);

    --app-items-height: 40px;
    --app-navbar-height: 70px;
    --app-sidebar-width: 280px;
    --app-static-width: 95%;
    --app-maximum-width: 1400px;
    --app-minimum-width: 100px;

    --app-grid-xx: 500px;
    --app-grid-xl: 400px;
    --app-grid-lg: 300px;
    --app-grid-md: 200px;
    --app-grid-sm: 150px;
    --app-grid-xm: 100px;

    --app-space-xx: 30px;
    --app-space-xl: 20px;
    --app-space-lg: 15px;
    --app-space-md: 12px;
    --app-space-sm: 5px;
    --app-space-xm: 2px;
    --app-space-nn: 0px;

    --app-border-xx: 9.0px;
    --app-border-xl: 5.0px;
    --app-border-lg: 2.0px;
    --app-border-md: 0.9px;
    --app-border-sm: 0.7px;
    --app-border-xm: 0.4px;
    --app-border-nn: 0.0px;

    --app-rounded-xx: 25px;
    --app-rounded-xl: 15px;
    --app-rounded-lg: 8px;
    --app-rounded-md: 5px;
    --app-rounded-sm: 3px;
    --app-rounded-xm: 2px;
    --app-rounded-nn: 0px;

    --app-font-xx: 2.0rem;
    --app-font-xl: 1.7rem;
    --app-font-lg: 1.3rem;
    --app-font-md: 1.0rem;
    --app-font-sm: 0.9rem;
    --app-font-xm: 0.65rem;
}

body.show-dark-mode {
    --app-primary-color: rgba(5, 59, 80, 1);
    --app-primary-color-ligth: rgba(235, 235, 235, 1);
    --app-primary-color-dark: rgba(253, 253, 253, 1);
    --app-hover-primary-color: rgba(255, 255, 255, .1);
    --app-border-primary-color: rgba(230, 230, 230, .1);

    --app-secondary-color: rgba(19, 86, 108, 1);
    --app-secondary-color-ligth: rgba(240, 240, 240, 1);
    --app-secondary-color-dark: rgba(253, 253, 253, 1);
    --app-hover-secondary-color: rgba(255, 255, 255, .1);
    --app-border-secondary-color: rgba(230, 230, 230, .1);

    --app-content-color: rgba(57, 58, 71, 1);
    --app-content-color-ligth: rgba(200, 200, 200, 1);
    --app-content-color-dark: rgba(250, 250, 250, 1);
    --app-hover-content-color: rgba(255, 255, 255, .1);
    --app-highlight-content-color: rgba(255, 255, 255, .15);
    --app-border-content-color: rgba(130, 130, 130, 1);

    --app-screen-color: rgba(37, 38, 39, 1);
    --app-screen-color-ligth: rgba(200, 200, 200, 1);
    --app-screen-color-dark: rgba(250, 250, 250, 1);
    --app-hover-screen-color: rgba(255, 255, 255, .05);
    --app-highlight-screen-color: rgba(255, 255, 255, .15);
    --app-border-screen-color: rgba(130, 130, 130, 1);

    --app-error: rgba(242, 117, 115);
    --app-success: rgb(95, 185, 98);
    --app-warning: rgb(252, 197, 68);

    --app-overlay-color: rgba(250, 250, 250, .3);
}

* {
    outline: none;
    border: none;
    text-decoration: none;
    font-family: "Poppins";
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    -webkit-tap-highlight-color: transparent;
    color: var(--app-content-color-ligth);
}

select,
input,
label,
textarea,
button {
    display: block;
    font-size: var(--app-font-md);
}

input,
select {
    color: var(--app-content-color-dark);
}

input:disabled {
    background-color: var(--app-hover-content-color);
}

button,
a {
    cursor: pointer;
}

button:disabled {
    cursor: not-allowed;
}

body {
    font-size: var(--app-font-md);
    background-color: var(--app-screen-color);
}

::placeholder {
    color: var(--app-content-color-ligth);
    opacity: .8;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: var(--app-content-color);
}

::-webkit-scrollbar-thumb {
    background-color: var(--app-screen-color);
    border-radius: 20px;
    border: 3px solid var(--app-content-color);
}

.document-wrapper {
    min-height: calc(100vh - var(--app-navbar-height) - 100px);
}

.document-content {
    margin: auto;
    width: var(--app-static-width);
    min-width: var(--app-minimum-width);
    max-width: var(--app-maximum-width);
}